<component name="libraryTable">
  <library name="logback">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/src/Dependencies/logback" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$PROJECT_DIR$/src/Dependencies/logback" recursive="false" />
  </library>
</component>